*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.column,
.columns {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0.9375rem 0;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.row .row {
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}
.container-fluid,
.container {
  width: 100%;
  overflow: hidden;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
.container-fluid:before,
.container-fluid:after {
  content: " ";
  display: table;
}
.container-fluid:after {
  clear: both;
}
.container-fluid:before,
.container-fluid:after {
  content: " ";
  display: table;
}
.container-fluid:after {
  clear: both;
}
.container-fluid .row {
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}
@media only screen and (min-width: 48rem) {
  .container {
    width: 46.875rem;
  }
}
@media only screen and (min-width: 62rem) {
  .container {
    width: 60rem;
  }
}
@media only screen and (min-width: 64.0625rem) {
  .container {
    width: 75rem;
  }
}
@media only screen {
  .xsmall-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .xsmall-11 {
    -webkit-flex-basis: 91.66666667%;
        -ms-flex-preferred-size: 91.66666667%;
            flex-basis: 91.66666667%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .xsmall-10 {
    -webkit-flex-basis: 83.33333333%;
        -ms-flex-preferred-size: 83.33333333%;
            flex-basis: 83.33333333%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .xsmall-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .xsmall-8 {
    -webkit-flex-basis: 66.66666667%;
        -ms-flex-preferred-size: 66.66666667%;
            flex-basis: 66.66666667%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .xsmall-7 {
    -webkit-flex-basis: 58.33333333%;
        -ms-flex-preferred-size: 58.33333333%;
            flex-basis: 58.33333333%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .xsmall-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .xsmall-5 {
    -webkit-flex-basis: 41.66666667%;
        -ms-flex-preferred-size: 41.66666667%;
            flex-basis: 41.66666667%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .xsmall-4 {
    -webkit-flex-basis: 33.33333333%;
        -ms-flex-preferred-size: 33.33333333%;
            flex-basis: 33.33333333%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .xsmall-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .xsmall-2 {
    -webkit-flex-basis: 16.66666667%;
        -ms-flex-preferred-size: 16.66666667%;
            flex-basis: 16.66666667%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .xsmall-1 {
    -webkit-flex-basis: 8.33333333%;
        -ms-flex-preferred-size: 8.33333333%;
            flex-basis: 8.33333333%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .xsmall-offset-11 {
    margin-left: 91.66666667%;
  }
  .xsmall-offset-10 {
    margin-left: 83.33333333%;
  }
  .xsmall-offset-9 {
    margin-left: 75%;
  }
  .xsmall-offset-8 {
    margin-left: 66.66666667%;
  }
  .xsmall-offset-7 {
    margin-left: 58.33333333%;
  }
  .xsmall-offset-6 {
    margin-left: 50%;
  }
  .xsmall-offset-5 {
    margin-left: 41.66666667%;
  }
  .xsmall-offset-4 {
    margin-left: 33.33333333%;
  }
  .xsmall-offset-3 {
    margin-left: 25%;
  }
  .xsmall-offset-2 {
    margin-left: 16.66666667%;
  }
  .xsmall-offset-1 {
    margin-left: 8.33333333%;
  }
  .xsmall-auto {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0%;
        -ms-flex-preferred-size: 0%;
            flex-basis: 0%;
  }
  .xsmall-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  .xsmall-last {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .row.xsmall-left {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row.xsmall-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row.xsmall-right {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row.xsmall-justify {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .row.xsmall-around {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .row.xsmall-top {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .row.xsmall-middle {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row.xsmall-bottom {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .row.xsmall-baseline {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .row.xsmall-stretch {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .row.xsmall-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-flex-wrap: row-reverse;
        -ms-flex-wrap: row-reverse;
            flex-wrap: row-reverse;
  }
  .row.xsmall-reverse.xsmall-left {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row.xsmall-reverse.xsmall-right {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .column.xsmall-top,
  .columns.xsmall-top {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }
  .column.xsmall-middle,
  .columns.xsmall-middle {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }
  .column.xsmall-bottom,
  .columns.xsmall-bottom {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }
  .column.xsmall-baseline,
  .columns.xsmall-baseline {
    -webkit-align-self: baseline;
        -ms-flex-item-align: baseline;
            align-self: baseline;
  }
  .column.xsmall-stretch,
  .columns.xsmall-stretch {
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch;
  }
}
@media only screen and (min-width: 48rem) {
  .small-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .small-11 {
    -webkit-flex-basis: 91.66666667%;
        -ms-flex-preferred-size: 91.66666667%;
            flex-basis: 91.66666667%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .small-10 {
    -webkit-flex-basis: 83.33333333%;
        -ms-flex-preferred-size: 83.33333333%;
            flex-basis: 83.33333333%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .small-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .small-8 {
    -webkit-flex-basis: 66.66666667%;
        -ms-flex-preferred-size: 66.66666667%;
            flex-basis: 66.66666667%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .small-7 {
    -webkit-flex-basis: 58.33333333%;
        -ms-flex-preferred-size: 58.33333333%;
            flex-basis: 58.33333333%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .small-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .small-5 {
    -webkit-flex-basis: 41.66666667%;
        -ms-flex-preferred-size: 41.66666667%;
            flex-basis: 41.66666667%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .small-4 {
    -webkit-flex-basis: 33.33333333%;
        -ms-flex-preferred-size: 33.33333333%;
            flex-basis: 33.33333333%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .small-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .small-2 {
    -webkit-flex-basis: 16.66666667%;
        -ms-flex-preferred-size: 16.66666667%;
            flex-basis: 16.66666667%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .small-1 {
    -webkit-flex-basis: 8.33333333%;
        -ms-flex-preferred-size: 8.33333333%;
            flex-basis: 8.33333333%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .small-offset-11 {
    margin-left: 91.66666667%;
  }
  .small-offset-10 {
    margin-left: 83.33333333%;
  }
  .small-offset-9 {
    margin-left: 75%;
  }
  .small-offset-8 {
    margin-left: 66.66666667%;
  }
  .small-offset-7 {
    margin-left: 58.33333333%;
  }
  .small-offset-6 {
    margin-left: 50%;
  }
  .small-offset-5 {
    margin-left: 41.66666667%;
  }
  .small-offset-4 {
    margin-left: 33.33333333%;
  }
  .small-offset-3 {
    margin-left: 25%;
  }
  .small-offset-2 {
    margin-left: 16.66666667%;
  }
  .small-offset-1 {
    margin-left: 8.33333333%;
  }
  .small-auto {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0%;
        -ms-flex-preferred-size: 0%;
            flex-basis: 0%;
  }
  .small-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  .small-last {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .row.small-left {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row.small-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row.small-right {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row.small-justify {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .row.small-around {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .row.small-top {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .row.small-middle {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row.small-bottom {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .row.small-baseline {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .row.small-stretch {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .row.small-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-flex-wrap: row-reverse;
        -ms-flex-wrap: row-reverse;
            flex-wrap: row-reverse;
  }
  .row.small-reverse.small-left {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row.small-reverse.small-right {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .column.small-top,
  .columns.small-top {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }
  .column.small-middle,
  .columns.small-middle {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }
  .column.small-bottom,
  .columns.small-bottom {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }
  .column.small-baseline,
  .columns.small-baseline {
    -webkit-align-self: baseline;
        -ms-flex-item-align: baseline;
            align-self: baseline;
  }
  .column.small-stretch,
  .columns.small-stretch {
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch;
  }
}
@media only screen and (min-width: 62rem) {
  .medium-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .medium-11 {
    -webkit-flex-basis: 91.66666667%;
        -ms-flex-preferred-size: 91.66666667%;
            flex-basis: 91.66666667%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .medium-10 {
    -webkit-flex-basis: 83.33333333%;
        -ms-flex-preferred-size: 83.33333333%;
            flex-basis: 83.33333333%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .medium-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .medium-8 {
    -webkit-flex-basis: 66.66666667%;
        -ms-flex-preferred-size: 66.66666667%;
            flex-basis: 66.66666667%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .medium-7 {
    -webkit-flex-basis: 58.33333333%;
        -ms-flex-preferred-size: 58.33333333%;
            flex-basis: 58.33333333%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .medium-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .medium-5 {
    -webkit-flex-basis: 41.66666667%;
        -ms-flex-preferred-size: 41.66666667%;
            flex-basis: 41.66666667%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .medium-4 {
    -webkit-flex-basis: 33.33333333%;
        -ms-flex-preferred-size: 33.33333333%;
            flex-basis: 33.33333333%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .medium-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .medium-2 {
    -webkit-flex-basis: 16.66666667%;
        -ms-flex-preferred-size: 16.66666667%;
            flex-basis: 16.66666667%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .medium-1 {
    -webkit-flex-basis: 8.33333333%;
        -ms-flex-preferred-size: 8.33333333%;
            flex-basis: 8.33333333%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .medium-offset-11 {
    margin-left: 91.66666667%;
  }
  .medium-offset-10 {
    margin-left: 83.33333333%;
  }
  .medium-offset-9 {
    margin-left: 75%;
  }
  .medium-offset-8 {
    margin-left: 66.66666667%;
  }
  .medium-offset-7 {
    margin-left: 58.33333333%;
  }
  .medium-offset-6 {
    margin-left: 50%;
  }
  .medium-offset-5 {
    margin-left: 41.66666667%;
  }
  .medium-offset-4 {
    margin-left: 33.33333333%;
  }
  .medium-offset-3 {
    margin-left: 25%;
  }
  .medium-offset-2 {
    margin-left: 16.66666667%;
  }
  .medium-offset-1 {
    margin-left: 8.33333333%;
  }
  .medium-auto {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0%;
        -ms-flex-preferred-size: 0%;
            flex-basis: 0%;
  }
  .medium-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  .medium-last {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .row.medium-left {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row.medium-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row.medium-right {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row.medium-justify {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .row.medium-around {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .row.medium-top {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .row.medium-middle {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row.medium-bottom {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .row.medium-baseline {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .row.medium-stretch {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .row.medium-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-flex-wrap: row-reverse;
        -ms-flex-wrap: row-reverse;
            flex-wrap: row-reverse;
  }
  .row.medium-reverse.medium-left {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row.medium-reverse.medium-right {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .column.medium-top,
  .columns.medium-top {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }
  .column.medium-middle,
  .columns.medium-middle {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }
  .column.medium-bottom,
  .columns.medium-bottom {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }
  .column.medium-baseline,
  .columns.medium-baseline {
    -webkit-align-self: baseline;
        -ms-flex-item-align: baseline;
            align-self: baseline;
  }
  .column.medium-stretch,
  .columns.medium-stretch {
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch;
  }
}
@media only screen and (min-width: 64.0625rem) {
  .large-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .large-11 {
    -webkit-flex-basis: 91.66666667%;
        -ms-flex-preferred-size: 91.66666667%;
            flex-basis: 91.66666667%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .large-10 {
    -webkit-flex-basis: 83.33333333%;
        -ms-flex-preferred-size: 83.33333333%;
            flex-basis: 83.33333333%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .large-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .large-8 {
    -webkit-flex-basis: 66.66666667%;
        -ms-flex-preferred-size: 66.66666667%;
            flex-basis: 66.66666667%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .large-7 {
    -webkit-flex-basis: 58.33333333%;
        -ms-flex-preferred-size: 58.33333333%;
            flex-basis: 58.33333333%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .large-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .large-5 {
    -webkit-flex-basis: 41.66666667%;
        -ms-flex-preferred-size: 41.66666667%;
            flex-basis: 41.66666667%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .large-4 {
    -webkit-flex-basis: 33.33333333%;
        -ms-flex-preferred-size: 33.33333333%;
            flex-basis: 33.33333333%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .large-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .large-2 {
    -webkit-flex-basis: 16.66666667%;
        -ms-flex-preferred-size: 16.66666667%;
            flex-basis: 16.66666667%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .large-1 {
    -webkit-flex-basis: 8.33333333%;
        -ms-flex-preferred-size: 8.33333333%;
            flex-basis: 8.33333333%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .large-offset-11 {
    margin-left: 91.66666667%;
  }
  .large-offset-10 {
    margin-left: 83.33333333%;
  }
  .large-offset-9 {
    margin-left: 75%;
  }
  .large-offset-8 {
    margin-left: 66.66666667%;
  }
  .large-offset-7 {
    margin-left: 58.33333333%;
  }
  .large-offset-6 {
    margin-left: 50%;
  }
  .large-offset-5 {
    margin-left: 41.66666667%;
  }
  .large-offset-4 {
    margin-left: 33.33333333%;
  }
  .large-offset-3 {
    margin-left: 25%;
  }
  .large-offset-2 {
    margin-left: 16.66666667%;
  }
  .large-offset-1 {
    margin-left: 8.33333333%;
  }
  .large-auto {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0%;
        -ms-flex-preferred-size: 0%;
            flex-basis: 0%;
  }
  .large-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  .large-last {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .row.large-left {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row.large-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row.large-right {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row.large-justify {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .row.large-around {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .row.large-top {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .row.large-middle {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row.large-bottom {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .row.large-baseline {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .row.large-stretch {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .row.large-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-flex-wrap: row-reverse;
        -ms-flex-wrap: row-reverse;
            flex-wrap: row-reverse;
  }
  .row.large-reverse.large-left {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row.large-reverse.large-right {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .column.large-top,
  .columns.large-top {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }
  .column.large-middle,
  .columns.large-middle {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }
  .column.large-bottom,
  .columns.large-bottom {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }
  .column.large-baseline,
  .columns.large-baseline {
    -webkit-align-self: baseline;
        -ms-flex-item-align: baseline;
            align-self: baseline;
  }
  .column.large-stretch,
  .columns.large-stretch {
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch;
  }
}
@media only screen and (min-width: 90.0625rem) {
  .xlarge-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .xlarge-11 {
    -webkit-flex-basis: 91.66666667%;
        -ms-flex-preferred-size: 91.66666667%;
            flex-basis: 91.66666667%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .xlarge-10 {
    -webkit-flex-basis: 83.33333333%;
        -ms-flex-preferred-size: 83.33333333%;
            flex-basis: 83.33333333%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .xlarge-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .xlarge-8 {
    -webkit-flex-basis: 66.66666667%;
        -ms-flex-preferred-size: 66.66666667%;
            flex-basis: 66.66666667%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .xlarge-7 {
    -webkit-flex-basis: 58.33333333%;
        -ms-flex-preferred-size: 58.33333333%;
            flex-basis: 58.33333333%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .xlarge-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .xlarge-5 {
    -webkit-flex-basis: 41.66666667%;
        -ms-flex-preferred-size: 41.66666667%;
            flex-basis: 41.66666667%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .xlarge-4 {
    -webkit-flex-basis: 33.33333333%;
        -ms-flex-preferred-size: 33.33333333%;
            flex-basis: 33.33333333%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .xlarge-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .xlarge-2 {
    -webkit-flex-basis: 16.66666667%;
        -ms-flex-preferred-size: 16.66666667%;
            flex-basis: 16.66666667%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .xlarge-1 {
    -webkit-flex-basis: 8.33333333%;
        -ms-flex-preferred-size: 8.33333333%;
            flex-basis: 8.33333333%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .xlarge-offset-11 {
    margin-left: 91.66666667%;
  }
  .xlarge-offset-10 {
    margin-left: 83.33333333%;
  }
  .xlarge-offset-9 {
    margin-left: 75%;
  }
  .xlarge-offset-8 {
    margin-left: 66.66666667%;
  }
  .xlarge-offset-7 {
    margin-left: 58.33333333%;
  }
  .xlarge-offset-6 {
    margin-left: 50%;
  }
  .xlarge-offset-5 {
    margin-left: 41.66666667%;
  }
  .xlarge-offset-4 {
    margin-left: 33.33333333%;
  }
  .xlarge-offset-3 {
    margin-left: 25%;
  }
  .xlarge-offset-2 {
    margin-left: 16.66666667%;
  }
  .xlarge-offset-1 {
    margin-left: 8.33333333%;
  }
  .xlarge-auto {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0%;
        -ms-flex-preferred-size: 0%;
            flex-basis: 0%;
  }
  .xlarge-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  .xlarge-last {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .row.xlarge-left {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row.xlarge-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row.xlarge-right {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row.xlarge-justify {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .row.xlarge-around {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .row.xlarge-top {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .row.xlarge-middle {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row.xlarge-bottom {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .row.xlarge-baseline {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .row.xlarge-stretch {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .row.xlarge-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-flex-wrap: row-reverse;
        -ms-flex-wrap: row-reverse;
            flex-wrap: row-reverse;
  }
  .row.xlarge-reverse.xlarge-left {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row.xlarge-reverse.xlarge-right {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .column.xlarge-top,
  .columns.xlarge-top {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }
  .column.xlarge-middle,
  .columns.xlarge-middle {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }
  .column.xlarge-bottom,
  .columns.xlarge-bottom {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }
  .column.xlarge-baseline,
  .columns.xlarge-baseline {
    -webkit-align-self: baseline;
        -ms-flex-item-align: baseline;
            align-self: baseline;
  }
  .column.xlarge-stretch,
  .columns.xlarge-stretch {
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch;
  }
}
@media only print {
  .print-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .print-11 {
    -webkit-flex-basis: 91.66666667%;
        -ms-flex-preferred-size: 91.66666667%;
            flex-basis: 91.66666667%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .print-10 {
    -webkit-flex-basis: 83.33333333%;
        -ms-flex-preferred-size: 83.33333333%;
            flex-basis: 83.33333333%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .print-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .print-8 {
    -webkit-flex-basis: 66.66666667%;
        -ms-flex-preferred-size: 66.66666667%;
            flex-basis: 66.66666667%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .print-7 {
    -webkit-flex-basis: 58.33333333%;
        -ms-flex-preferred-size: 58.33333333%;
            flex-basis: 58.33333333%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .print-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .print-5 {
    -webkit-flex-basis: 41.66666667%;
        -ms-flex-preferred-size: 41.66666667%;
            flex-basis: 41.66666667%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .print-4 {
    -webkit-flex-basis: 33.33333333%;
        -ms-flex-preferred-size: 33.33333333%;
            flex-basis: 33.33333333%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .print-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .print-2 {
    -webkit-flex-basis: 16.66666667%;
        -ms-flex-preferred-size: 16.66666667%;
            flex-basis: 16.66666667%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .print-1 {
    -webkit-flex-basis: 8.33333333%;
        -ms-flex-preferred-size: 8.33333333%;
            flex-basis: 8.33333333%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .print-offset-11 {
    margin-left: 91.66666667%;
  }
  .print-offset-10 {
    margin-left: 83.33333333%;
  }
  .print-offset-9 {
    margin-left: 75%;
  }
  .print-offset-8 {
    margin-left: 66.66666667%;
  }
  .print-offset-7 {
    margin-left: 58.33333333%;
  }
  .print-offset-6 {
    margin-left: 50%;
  }
  .print-offset-5 {
    margin-left: 41.66666667%;
  }
  .print-offset-4 {
    margin-left: 33.33333333%;
  }
  .print-offset-3 {
    margin-left: 25%;
  }
  .print-offset-2 {
    margin-left: 16.66666667%;
  }
  .print-offset-1 {
    margin-left: 8.33333333%;
  }
  .print-auto {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0%;
        -ms-flex-preferred-size: 0%;
            flex-basis: 0%;
  }
  .print-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  .print-last {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .row.print-left {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row.print-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row.print-right {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row.print-justify {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .row.print-around {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .row.print-top {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .row.print-middle {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row.print-bottom {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .row.print-baseline {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .row.print-stretch {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .row.print-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-flex-wrap: row-reverse;
        -ms-flex-wrap: row-reverse;
            flex-wrap: row-reverse;
  }
  .row.print-reverse.print-left {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row.print-reverse.print-right {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .column.print-top,
  .columns.print-top {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }
  .column.print-middle,
  .columns.print-middle {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }
  .column.print-bottom,
  .columns.print-bottom {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }
  .column.print-baseline,
  .columns.print-baseline {
    -webkit-align-self: baseline;
        -ms-flex-item-align: baseline;
            align-self: baseline;
  }
  .column.print-stretch,
  .columns.print-stretch {
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch;
  }
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pointer {
  cursor: pointer;
}
.move {
  cursor: move;
}
.hug {
  margin: 0 !important;
}
.hug-top {
  margin-top: 0 !important;
}
.hug-right {
  margin-right: 0 !important;
}
.hug-bottom {
  margin-bottom: 0 !important;
}
.hug-left {
  margin-left: 0 !important;
}
.hug-lr {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.hug-tb {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.borderless {
  border: none !important;
}
.borderless-top {
  border-top: none !important;
}
.borderless-right {
  border-right: none !important;
}
.borderless-bottom {
  border-bottom: none !important;
}
.borderless-left {
  border-left: none !important;
}
.borderless-tb {
  border-top: none !important;
  border-bottom: none !important;
}
.borderless-lr {
  border-left: none !important;
  border-right: none !important;
}
.extend {
  padding: 0 !important;
}
.extend-top {
  padding-top: 0 !important;
}
.extend-right {
  padding-right: 0 !important;
}
.extend-bottom {
  padding-bottom: 0 !important;
}
.extend-left {
  padding-left: 0 !important;
}
.extend-tb {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.extend-lr {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
@-ms-viewport {
  width: device-width;
}
.show,
.visible {
  display: block !important;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.visible-xsmall {
  display: none !important;
}
.visible-small {
  display: none !important;
}
.visible-medium {
  display: none !important;
}
.visible-large {
  display: none !important;
}
.visible-xlarge {
  display: none !important;
}
.visible-print {
  display: none !important;
}
@media only screen and (min-width: 30rem) and (max-width: 47.9375rem) {
  .visible-xsmall {
    display: block !important;
  }
  table.visible-xsmall {
    display: table;
  }
  tr.visible-xsmall {
    display: table-row !important;
  }
  th.visible-xsmall,
  td.visible-xsmall {
    display: table-cell !important;
  }
  .hidden-xsmall {
    display: none !important;
  }
}
@media only screen and (min-width: 48rem) and (max-width: 61.9375rem) {
  .visible-small {
    display: block !important;
  }
  table.visible-small {
    display: table;
  }
  tr.visible-small {
    display: table-row !important;
  }
  th.visible-small,
  td.visible-small {
    display: table-cell !important;
  }
  .hidden-small {
    display: none !important;
  }
}
@media only screen and (min-width: 62rem) and (max-width: 64rem) {
  .visible-medium {
    display: block !important;
  }
  table.visible-medium {
    display: table;
  }
  tr.visible-medium {
    display: table-row !important;
  }
  th.visible-medium,
  td.visible-medium {
    display: table-cell !important;
  }
  .hidden-medium {
    display: none !important;
  }
}
@media only screen and (min-width: 64.0625rem) and (max-width: 90rem) {
  .visible-large {
    display: block !important;
  }
  table.visible-large {
    display: table;
  }
  tr.visible-large {
    display: table-row !important;
  }
  th.visible-large,
  td.visible-large {
    display: table-cell !important;
  }
  .hidden-large {
    display: none !important;
  }
}
@media only screen and (min-width: 90.0625rem) {
  .visible-xlarge {
    display: block !important;
  }
  table.visible-xlarge {
    display: table;
  }
  tr.visible-xlarge {
    display: table-row !important;
  }
  th.visible-xlarge,
  td.visible-xlarge {
    display: table-cell !important;
  }
  .hidden-xlarge {
    display: none !important;
  }
}
@media only print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
  .hidden-print {
    display: none !important;
  }
}
